.about-heading {
  @media (min-width: 992px) {
    .about-heading-img {
      position: relative;
      z-index: 0;
    }
    .about-heading-content {
      margin-top: -5rem;
      position: relative;
      z-index: 1;
    }
  }
}

.devicon-cont{
  display:flex;
  flex-wrap:wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.devicon-cont li{
  padding: 1.5rem;
  font-size: 40px;
}

#devicon{
  height: 3rem;
}