.list-hours {
  font-size: 0.9rem;
  .list-hours-item {
    border-bottom: 1px solid fade-out($primary, 0.5);
    padding-bottom: .25rem;
    margin-bottom: 1rem;
    font-style: italic;
    &.today {
      font-weight: bold;
      color: $primary;
    }
  }
  @media(min-width: 992px) {
    width: 50%;
    font-size: 1.1rem;
  }
}

.font{
  font-family: Raleway;
  p {
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }
}

.remove-bullets {
  list-style-type: none;
}

.remove-margin-top {
  margin-top: -0.5rem;
}

.contact-icons {
  display:flex;
  flex-wrap:wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.contact-icons a{
  padding: 1.5rem;
  font-size: 40px;
  text-decoration: none;
  color: $secondary;
  &:hover{
    color: darken(#253944, 10%)
  }
}

.address {
  strong {
    font-size: 1.2rem;
  }
}

.resume-btn{
  display: flex;
  justify-content: center;
  font-family: 'Raleway';
  text-transform: capitalize;
  align-content: center;
  width: 100%;
  margin-top: 4rem;
  // margin-bottom: -3rem;
  // position: absolute;
  // bottom: -2rem;
  .btn-xl1{
    text-transform: uppercase;
    color: fade-out($white, 0.3);
    font-size: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    &:hover{
      background-color: darken(#253944, 10%);
      color: $white
    }
  }
}
